services:
  postgresql:
    image: postgres:18
    ports:
      - "5432:5432"
    env_file:
      - postgres.env
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 30s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: